<div id="note-editor">
  <!-- <textarea name="note-text" id="note-text" rows="10"></textarea> -->
  <div class="grid4">
    <mat-form-field>
      <input type="text" matInput placeholder="Caller" [(ngModel)]="currentNote.caller" />
    </mat-form-field>
    <button tabindex="-1" mat-icon-button>
      <mat-icon  >file_copy</mat-icon>
    </button>
    <mat-form-field>
      <input type="tel"  matInput placeholder="CBR" [(ngModel)]="currentNote.callbackPhoneNumber" />
    </mat-form-field>
    <button tabindex="-1" mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
    <mat-form-field>
      <input type="tel" matInput placeholder="STN" />
    </mat-form-field>
    <button tabindex="-1" mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
    <mat-form-field>
      <input type="text" matInput placeholder="BAN/CID" />
    </mat-form-field>
    <button tabindex="-1" mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>

  <div class="auth-details">
    <mat-checkbox [(ngModel)]="currentNote.auth"> Authenticated </mat-checkbox>
      <mat-form-field id="auth-method-container">
        <mat-label>Authentication method: </mat-label>
        <mat-select [(ngModel)]="currentNote.authInfo">
          <mat-option value="PIN/Account ID">PIN/Acc. ID</mat-option>
          <mat-option value="IVR">IVR</mat-option>
          <mat-option value="personal info">personal info</mat-option>
          <mat-option value="last agent">last agent</mat-option>
          <mat-option value="Exception Procedure">Exception Procedure</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="comments-container">
    <mat-form-field>
      <textarea matInput placeholder="Comments" rows="10" [(ngModel)]="currentNote.comments"></textarea>
    </mat-form-field>
    <button tabindex="-1"  mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>

  </div>
</div>