<div id="agent-info-container">
  <h2>Agent Information</h2>
  <mat-form-field>
    <input type="text" matInput placeholder="Name" [(ngModel)]="agentInfo.name" />
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="ID" [(ngModel)]="agentInfo.id" />
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Dept" [(ngModel)]="agentInfo.dept" />
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Custom signature" [(ngModel)]="agentInfo.signature" />
  </mat-form-field>
</div>