.grid2{
    display: grid;
    grid-template-columns: auto 48px;
}
.comments-box{
    white-space: pre-wrap; 
}
.mat-card-title{
    font-size: large;
}
.mat-card{
    font-size: large;
    /* font-family: monospace; */
    margin: 1em;
}