<mat-card>
  <mat-card-title>
    [DEPT: Agent] 
  </mat-card-title>
  <mat-card-content>
    Caller: <b>{{note.caller}}</b> <br>
    CBR: <b>{{note.callbackPhoneNumber}}</b><br>
    <b>{{note.auth? "Authenticated": "Not authenticated."}}</b>
    <span *ngIf="note.auth == true"> with <b>{{note.authInfo}}</b>.</span> <br>
    <b>[CALL DETAILS]</b>:<br>
    <div class="comments-box">{{note.comments}}</div>
    <br>
    <b>[SALE INFO]</b>:<br>
    [CALLBACK INFO]:<br>
    Agreed to follow up on MM/DD/YYYY between: no time specified. <br>
  </mat-card-content>
  </mat-card>
