<mat-card>
  <mat-toolbar color="primary">
    Date: {{note.date | date: "MMMM dd yyyy - hh:mm" }} <br>
    Ref: {{note.accRef}}
  </mat-toolbar>
  <div id="summary-text"><b>{{ agent.signature.length > 0 ? 
                            agent.signature : 
                            "["+agent.dept+" : "+agent.name+"]"}}</b><br>
    Spoke to: <b>{{note.caller}}</b> Contact: <b>{{note.callbackPhoneNumber}}</b><br>
    <div *ngIf="summaryOptions.showAuth">
      <b>{{note.auth? "Authenticated": "Not authenticated."}}</b>
      <span *ngIf="note.auth == true"> with <b>{{note.authInfo}}</b>.</span> <br>
    </div>
    <b>Info</b>:<span class="comments-box">{{note.comments}}</span>
    <br>
    <div *ngIf="note.requiresFollowUp">  <b>Follow up:</b> on {{note.callbackInfo.date | date: 'MM/dd/yyyy'}}
      between: {{note.callbackInfo.cbWindowStartTime}} and {{note.callbackInfo.cbWindowEndTime}} . <br>
    </div>
  </div>
  <button tabindex="-1" mat-icon-button (click)="copySummaryToClipboard()">
    <mat-icon>file_copy</mat-icon>
  </button>
</mat-card>