.comments-box{
    white-space: pre-wrap; 
}
mat-card{
    display:grid;
    grid-template-columns: auto 2.5em;
    grid-gap: 4px;
    /* font-family: monospace; */
    padding: 0px;
    border-radius: 0px;
    background: wheat;
    flex:1;
}
#summary-text{
    overflow: auto;
    max-height: 11em;
    min-height: 11em;
    margin: 8px;
}
mat-toolbar{
    font-size: medium;
    line-height: 1em;
    grid-column: span 2;
}
