<app-controls-toolbar [settingsSidenav]="settingsSidenav"></app-controls-toolbar>
<mat-sidenav-container >
  <mat-sidenav #settingsSidenav mode="side" class="settings-sidenav">
    <app-agent-info-editor></app-agent-info-editor>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="trackers-grid">
      <app-tracker-tabs></app-tracker-tabs>
      <app-note-summary></app-note-summary>
      <app-callbacks-board></app-callbacks-board>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>