body {
    margin: 0%;
    padding: 0%;
}
.c2-grid{
    display: grid;
    grid-template-columns: auto 15em;
    height: 94vh;
}
.right-side{
    background: lightskyblue;

}
.side-nav-container{
    height: 100%;
}