<div id="sale-editor">
  <mat-checkbox>Use same info</mat-checkbox>
  <mat-checkbox>Warm Home</mat-checkbox>
  <div class="grid4">
    <mat-form-field>
      <input type="date" matInput placeholder="Sale Date" />
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
    <mat-form-field>
      <input type="date" matInput placeholder="Installation Date" />
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
    <mat-form-field>
      <input type="text" matInput placeholder="Agent" />
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
    <mat-form-field>
      <input type="text" matInput placeholder="BAN/CID" />
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>
  <div class="product-options">
    <h3>Sold</h3>
    <mat-checkbox *ngFor="let p of productsCatalog.currentProducts | keyvalue">{{p.key}}</mat-checkbox>

    <!-- <mat-checkbox>HS</mat-checkbox>
    <mat-checkbox>HP</mat-checkbox>
    <mat-checkbox>Upsell</mat-checkbox> -->
  </div>
  <div class="comments-container">
    <mat-form-field>
      <textarea matInput placeholder="Comments" rows="4"></textarea>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>

</div>