<div class="callbacks-list">
  <div class="header">
    Callbacks: {{count}}
  </div>
  <div *ngIf="filteredNotes[0].length > 0" class="cards ">
    <div class="title ">Past due:</div>
    <app-reminder-card *ngFor="let note of filteredNotes[0] " [note]="note" >
    </app-reminder-card>
  </div>
  <div *ngIf="filteredNotes[1].length > 0" class="cards ">
    <div class="title">Urgent:</div>
    <app-reminder-card *ngFor="let note of filteredNotes[1]" [note]="note" >
    </app-reminder-card>
  </div>
  <div *ngIf="filteredNotes[2].length > 0" class="cards ">
    <div class="title">Future:</div>
    <app-reminder-card *ngFor="let note of filteredNotes[2]" [note]="note" >
    </app-reminder-card>
  </div>
</div>