<div id="callback-editor">
  <mat-checkbox [(ngModel)]="currentNote.requiresFollowUp">Requires Follow up</mat-checkbox>
  <div class="grid4">
    <div class="info-entry">
      <label for="currentNote-caller" class="info-label"> Date: </label>
      <input type="date"  [(ngModel)]="callbackInfo.date"/>
      <button tabindex="-1" mat-icon-button>
        <mat-icon>file_copy</mat-icon>
      </button>
    </div>
    <div class="info-entry">
      <label class="info-label" for="timezone"> Timezone </label>
      <input type="text" placeholder="Timezone" [(ngModel)]="currentNote.callbackPhoneNumber" #timezone />
      <button tabindex="-1" mat-icon-button>
        <mat-icon>file_copy</mat-icon>
      </button>
    </div>
    <div id="quick-date-options">
      <mat-button-toggle-group>
        <mat-button-toggle *ngFor="let d of quickDates;let i=index" (click)="setQuickDate(i)">
          <div class="day-text">
            <strong> {{
              (i < 2)?  
              (i < 1)? "Today":"Tomorrow":  
              d | date: 'EEEE'}}
            </strong>
          </div>
          <div class="day">{{ d | date: 'd'}} </div>
          <div class="quick-date-box">
            {{ d | date: 'MMMM'}} {{ d | date: 'yyyy'}}
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
      <div class="info-entry">
        <label for="currentNote-caller" class="info-label"> Time start: </label>
        <input type="time"  [(ngModel)]="callbackInfo.cbWindowStartTime" />
        <button tabindex="-1" mat-icon-button>
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>
      <div class="info-entry">
        <label for="currentNote-caller" class="info-label"> Time end: </label>
        <input type="time" placeholder="Time window end" [(ngModel)]="callbackInfo.cbWindowEndTime" />
        <button tabindex="-1" mat-icon-button>
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>
  </div>
      <div class="time-picker-box">
        <app-time-range-picker [cbi]="callbackInfo" [(timeStart)]="callbackInfo.cbWindowStartTime" [(timeEnd)]="callbackInfo.cbWindowEndTime"></app-time-range-picker>
      </div>
  <div class="comments-box">
    <label class="comments-label">Comments </label>
    <button tabindex="-1" mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
    <textarea placeholder="Comments" rows="10" [(ngModel)]="currentNote.comments"></textarea>
  </div>
  <mat-checkbox [(ngModel)]="callbackInfo.completed">Completed </mat-checkbox>