button{
    justify-self: right;
}
.mat-form-field{
    min-width: 3em;
}
input{
    min-width: 3em;
}
.mat-icon{
    font-size: 1em;
}
.auth-checkbox{
    grid-column: span 2;
}
.comments-box{
    grid-column: span 3;
}
.grid4{
    margin: 4px;
}