#note-editor{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
button{
    justify-self: right;
}
.auth-details{
    display: flex;
    flex-direction: row;
}
.mat-checkbox{
    align-self: center;
}
#auth-method-container{
    margin: 0;
    margin-left: auto;
    width: 50%;
    display: grid;
    grid-template-columns: auto;

}