.mat-icon-button {
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    margin: 0em;
}
.mat-form-field{
    min-width: 3em;
}
.grid4{
    flex: 1;
    line-height: 1em;
    grid-template-rows: repeat(3, 3em) auto;
    padding: 0.5em;
}


.mat-icon{
    font-size: 1em;
}
/* .auth-checkbox{
    grid-column: span 2;
}
.comments-box{
    grid-column: span 3;
} */
.container{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.left-side{
    display: flex;
    padding-left: 0.5em;
    flex-direction: column;
    width: 7.5em;
    flex: 0;
}
.right-side{
    display: flex;
    flex-direction: column;
    flex:1;
    padding-right: 0.5em
}
.info-entry {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto 2em;
    grid-template-rows: 1em 1.5em;
    margin-bottom: 0.5em;
    grid-column: span 2;
    height: 3em;
}
mat-checkbox{
    grid-column-start: 1;
    width: 6em;
    font-size: small;
}

.info-label{
    grid-column: span 2;
    grid-row: span 1;
    font-size: small;
}
select{
    min-width: 6em ;
}
input{
    min-width: 6em;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}
.comments-box{
    display: grid;
    grid-template-columns: auto 1.5em;
    grid-template-rows: 1.5em auto;
    grid-column: span 4;
}
textarea{
    grid-column: span 2;
    resize: none;
    overflow: auto;
}